<div class="container">
  <div class="titleProduct">
    <h4>Listado de Productos</h4>
    <button type="button" class="btn btn-secondary" routerLink="/dashboard/add">Agregar Producto</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Código</th>
        <th scope="col">Compra</th>
        <th scope="col">Venta</th>
        <th scope="col">gananc</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">

        <td>{{ item.Name}}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.Code }}</td>
        <td>{{ item.BuyPrice }}</td>
        <td>{{ item.SellPrice }}</td>
        <td>{{ item.Margin }}</td>
        <td>
          <button [routerLink]="['/dashboard/edit', item.Name]" type="button" class="btn btn-info btn-sm ">edit</button>
          <button type="button" class="btn btn-secondary btn-sm ms-2">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


